.container {
    max-width: 1000px; /* تكبير عرض الحاوية */
    margin: 0 auto;
    padding: 20px;
    background-color: #ced2c4;
 }
 h2 {
    text-align: center;
    margin-bottom: 20px;
 }
 .filter-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 
 .form-group {
    flex: 1; /* توزيع الحقول بالتساوي على العرض */
    margin-right: 10px;
 }
 
 .form-group input {
    width: 100%; /* تكبير عرض حقول الإدخال لتأخذ العرض الكامل */
    padding: 10px; /* إضافة مسافة داخل الحقل */
    font-size: 16px; /* تكبير حجم النص داخل الحقول */
 }
 
 .table {
    width: 100%; /* تكبير عرض الجدول ليأخذ كامل العرض */
    margin-top: 20px;
    border-collapse: collapse;
 }
 
 .table th, .table td {
    border: 1px solid #ddd;
    padding: 12px; /* زيادة المسافة داخل الخلايا */
    text-align: center;
    font-size: 16px; /* تكبير حجم النص في الجدول */
 }
 
 .table th {
    background-color: #a3ab94;
 }
 
 .btn-danger {
    background-color: #667058;
    border: none;
    color: #eeebe7;
    padding: 8px 15px; /* زيادة المسافة داخل الزر */
    cursor: pointer;
    font-size: 14px; /* تكبير حجم النص داخل الزر */
 }
 
 .btn-danger:hover {
    background-color: #667058;
 }
 
 .card-image {
    width: 60px; /* تكبير حجم الصورة */
    height: auto;
    border-radius: 5px;
 }
 .custom-messages {
    position: fixed;
    bottom: 20px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
    z-index: 1000; /* Ensure it appears above other elements */
}
